body {
  font-family: 'PT Mono', monospace;
  font-size: 20px;
  background-color: #2f7532;
  color: white;

  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

#app {
  height: 0;
  flex-grow: 1;
  padding: 5px;

  display: flex;
  flex-direction: column;
}

#header {
  text-align: center;
}
#name-input
    {
      width: '210px';
      height: '40px';
      font-size: '20px';
    }
#login-button{
  font-size: 25px;
}
#game-board {
  overflow-y: auto;
}

/** BASIC BUTTON SETUP **/
button {
  border: none;
  padding: 6px 6px;
  text-align: center;
  /*  text-decoration: none;*/
  display: inline-block;
  font-size: 13px;
  margin: 1px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  font-family: 'Verdana';
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

button:hover {
  background-color: #008CBA;
  color: white;
}

/* player buttons are larger */
.player-btn {
  font-size: 20px;
}

#all-label {
  font-family: 'Verdana';
  font-size: 16px;
  margin-left: 8px;
}
#dollaz{
  align-content: left;
}
#dealer-controls {
  margin-top: 1px;
  margin-bottom: 0px;
}

#dealer-controls-top{
  margin-top: 1px;
}

/****************
* DEALER CONTROLS - 1ST ROW
*****************/
#cards-left {
  color: white;
  background-color: red;
  padding: 2px 4px;
  margin-right: 20px;
  font-size: 18px;
}
#one-up-button, #one-down-button{
  background-color: #BEFFFF;
  border: solid 3px black;
}
/* all dealer buttons are smaller */
.dlrbtns {
  padding: 4px 7px;
  font-size: 10px;
  background-color: deepskyblue;
}

/* 1up and 1down buttons */
.one-all-buttons {
  border: solid 2px red;
  background-color:#6EAEC1;
}

/* next up and next down buttons */
.one-card-buttons {
  border: solid 4px orange;
  width: 50px;
  border-radius:4px;
  background-color:#BEFFFF;
}

/* common up card button - is different color */
#common-button {
  border: solid 4px blue;
  margin-left: 40px;
}

/* discard-mode toggle button */
.not-discard-mode, .not-discard-mode:hover {
  border-radius: 4px;
  font-size: 10px;
  margin-left: 55px;
  color: white;
  background-color: gray;
  border-color: black;
  border-width: 0px;
}

.discard-mode, .discard-mode:hover {
  border-radius: 4px;
  font-size: 11px;
  margin-left: 55px;
  color: #BEFFFF;
  background-color: red;
  border-color: lightgreen;
  font-weight: bolder;
  border-width: 3px;
/*  animation: shadow-pulse 1s infinite;*/
}

/****************
* DEALER CONTROLS - 2ND ROW
*****************/
/* selector for active player */
#change-active-player-select {
  width: 80px;
  height: 30px;
  margin-right: 10px;
}

#other-select {
  width: 60px;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
}
/* dealer action selector */
#action-select {
  width: 170px;
  height: 30px;
  margin-left: 30px;
  background-color:#BEFFFF;
  border: 3px solid black;
}


#payout-button {
  background-color: red;
  margin-left: 6px;
  color: #BEFFFF;
}


/* selector for players to receive payout */
#winners-select {
/*    background-color: #BEFFFF;*/

  width: 120px;
  margin-left: 20px;
  display: inline-block;
    border: solid 3px black;

/*  height:15px;*/
}

#winners-select-box {
  position: relative;
/*    height:25px;*/
/*  background-color: #BEFFFF;*/

}

#winners-select-select {
  width: 100%;
/*  font-weight: bold;*/
    height:25px;
  background-color: #BEFFFF;

}

#winners-select-over-select {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
/*    height:25px;*/
/*  background-color: white;*/

}

#winners-select-content {
  z-index: 10000;

  display: none;
  border: 3px #dadada solid;
  position: absolute;
  background-color: #BEFFFF;
  color: black;
  width: 147px;
  text-align: left;
/*  height:25px;*/


}
#next-label{
  margin-left: 30px;
  font-size: 15px;
}
#next-up, #next-down{
  padding-top: 2px;
  padding-bottom: 2px;
}
#winners-select-content label {
  display: block;
  padding: 4px;
}

#winners-select-content label:hover {
  background-color: #1e90ff;
}
#acey-buttons{
  float:right;
}
/* same for dealer select */
#dealer-select {
  width: 115px;
  display: inline-block;
  margin-left: 5px;
  height:25px;
}
#win-a-d-button, #lose-a-d-button{
  font-size:20px; 
  width:120px;
}
#win-a-d-button{
  background-color:lightgreen;
  color:darkred;
}
#lose-a-d-button{
  background-color:red;
  color:darkslategray;
}
#post-button, #dbl-post-button{
  font-size:11px;
  margin-right:10px;
}
#dealer-select-box {
  position: relative;
}

#dealer-select-select {
  width: 100%;
  font-weight: bold;
}

#dealer-select-over-select {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#dealer-select-content {
  display: none;
  border: 1px #dadada solid;
  position: absolute;
  background-color: white;
  color: black;
  width: 147px;
  text-align: left;
}

#dealer-select-content label {
  display: block;
  padding: 4px;
}

#dealer-select-content label:hover {
  background-color: #1e90ff;
}

#new-back-button {
  margin-left: 105px;
  margin-right: 5px;
}

/* new game button */
#new-game-button {
  margin-left: 95px;
  color: white;
  background-color: blue;
}

#new-game-button:disabled {
  background-color: gray;
}

/*
#ante-btn:disabled {
  background-color: gray;
}
*/

/* selector for which game being played */
#set-game-select {
  width: 100px;
  height: 25px;
/*  margin-right: 20px;*/
}

#up-button, #down-button {
  float: right;
  height: 50px;
  width: 50px;
  font-size: 15px;
  background-color:yellow;
  border: 4px solid red;
}

#game-name-display {
  margin-right: 10px;
  font-size: 18px;
/*  font-style: italic;*/
  float: right;
  color: yellow;
}

/***********************
 * PLAYER CONTROLS
 ***********************/

#player-controls button {
  font-size: 13px;
}

#player-money-display {
  float: left;
  color: yellow;
  margin-left: 5px;
  font-size: 16px;
}
.dollar-display{
  background-color:red;
}



#show-money-button{
  font-size:4px;
  border-radius:1px;
   position:absolute;
  left:20px;
}
#show-none-button{
    font-size:4px;
  border-radius:1px;
   position:absolute;
  left:0px;

}
#show-both-button{
    font-size:4px;
  border-radius:1px;
   position:absolute;
  left:40px;;
}
/* fold button */
#fold {
  padding: 4px 7px;
  font-size: 10px;
}

#check-button {}

#increment-active-bettor-drawer-button {}

/* ALL BETTING BUTTONS AND ENTRY */
#bet-button {
  margin-left: 15px;
}

#bet-input {
  width: 42px;
  height: 24px;
  font-size: 15px;
}

#ante-input {
  width: 36px;
  height: 24px;
  font-size: 15px;
}

#ante-btn {
  margin-left: 20px;
  margin-right: 0px;
  
}

.bet-buttons {
  margin: 0px;
  border-radius: 1px;
  border: solid 1px black;
}


/* POT DISPLAY */
#pot-display {
  color: black;
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: red;
  padding: 3px;
  border: solid 2px;
  border-color: yellow;
}

#pot-display-last-bet {
  margin-left: 5px;
  font-size: 16px;
}

#buy-10-btn {
  background-color: black;
  color: white;
  border-color: red;
  border-radius: 4px;
}

/*
#logout-btn {
  margin-left: 10px;
  border-radius: 0px;
  border-color: white;
  color: white;
  background-color: black;
}
*/

#player-chips {
  float: left;
}

/* number of cards remaining display */
#numcards {
  font-size: 14px;
  font-style: bold;
}

/* banner displays when disconnected */
#connection-banner {
  width: 100%;
  background-color: red;
  text-align: center;
  margin-bottom: 10px;
}

input {
  font-size: 22px;
}

.opening-cards {
  border: solid 3px;
}

#logo {
  float: right;
}

#last-bet {
  color: #ff7777;
}

.login-cards {
  margin-top: 100px;
  width: 200px;
  border: 4px solid transparent;
  border-radius: 6px;
}


/****************************
 * GRID FOR EACH PLAYER SEAT
**************************/
.player-seats {
  display: flex;
  /*  HANGED FOR 1 COLUMN: flex-wrap: wrap;*/
  flex-direction: column;
  /*  CHANGED FOR 1 COLUMN: height: calc(115px * 5);*/

}

.player-seat {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 200px 130px 1fr;
  grid-template-rows: auto 1fr;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
  /*  font-family: 'PT Mono', monospace;*/
  height: 90px;
  /* CHANGED FOR 1 COLUMN: was 104 */
  padding: 0px;
  border: 1px solid transparent;
  border-radius: 4px;
}

#reset-game-button, #collect-shuffle-button {
  margin-left: 15px;
  font-size: 10px;
  background-color: black;
  color: white;
}
#reshuffle-display{
  border: 30px solid red;
  display: inline;
  font-size:45px;
      animation: pulsate 1s infinite;


}
#new-back-button {
  font-size: 10px;
}
/*
td:nth-child(2){
  background-color:lightblue;
}
*/
.player-seat.dealer {
  background-color: rebeccapurple;
}
.player-seat.active-player {
  color: #BEFFFF;
  border: 4px solid yellow;
  border-left: 20px;
  background-color: black;
}

.player-seat.player-connected .kick-button {
  display: none;
}

.player-seat.dealer .player-name {
  color: #7AD1EB;
  font-family: 'Open Sans Condensed', sans-serif;
}

.player-seat.player-disconnected .player-name {
  opacity: 0.4;
  font-style: italic;
}

.player-name {
  grid-column: 1;
  grid-row: 1;
}

.chips-shy {
  grid-column: 2;
  grid-row: 1;
  font-size: 15px;
  font-family: 'PT Mono', monospace;

}

.chips-display {
  grid-column: 1 / span 2;
  grid-row: 2;
  vertical-align: center;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.chips-display img {
  /* this calc should be updated if these values change */
  /* CHANGE ABOVE ALSO
  /* (first column width + second column width) / (starting chip amount / chips per chip image) */
  width: 20px;
/*  ((115px + 70px) / (400 / 40));*/
}

#common-display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.common-card {
  width: 65px;
  border: 5px solid gold;
  margin-left: 5px;
}

.hand {
  grid-column: 3;
  grid-row: 1 / span 2;
}

/* BASIC CARD IMAGE */
.card {
  width: 60px;
  border: 1px solid transparent;
  border-radius: 6px;
  margin-left: 2px;
  margin-right: 2px;
}

#post-button {
  border: 2px solid purple;
}

#dbl-post-button {
  border: 2px solid purple;
}

#ace-called-button {
  margin-left: 30px;
}

.sixth_card {
  margin-left: 11px;
}
#up-button, #-button {
  float: right;
  height: 50px;
  width: 50px;
}
#up-with-down {
  position: relative;
}

.down-card {
  /* shows half the card */
  /*  border: 4px solid blue;*/
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  position: absolute;
  top: -59px;
  left: 0px;
  /*  z-index:3;*/
}

.backing {
  position: relative;
  top: 0px;
  left: 0px;
  /*  z-index:1;*/
}

.discard-ready {
/*  border: 1px solid black;*/
    animation: pulsate 1s infinite;
}
@-webkit-keyframes pulsate {
    0%   { box-shadow: 0 0 0 magenta; }
    50%  { box-shadow: 0 0 36px magenta; }
    100% { box-shadow: 0 0 0 magenta; }
}

.confirm {
/*  border: 1px solid black;*/
    animation: pulsate2 2s infinite;
  background-color:yellow;
  color:red;
}
@-webkit-keyframes pulsate2 {
    0%   { box-shadow: 0 0 0 blue; }
    50%  { box-shadow: 0 0 66px magenta; }
    100% { box-shadow: 0 0 0 red; }
}


#chips-summary {
  font-size: 20px;
  color: white;
    font-family: 'PT Mono', monospace;

}

#summary th {
  color: lightblue;
  width: 150px;
  text-align: right;
  font-size: 26px;
}

#summary th:first-child {
  text-align: left;
  width: 250px;
}

#summary td {
  width: 150px;
  text-align: right;
  font-size: 26px;
}

#summary td:first-child {
  text-align: left;
  width: 250px;
}

#up {
  color: lightgreen;
}

#down {
  color: red;
}

/***** ANIMATIONS ******/

#logo:hover {
    opacity: 0.5;
}

@keyframes shake {
  0% {
    transform: skewX(5deg);
  }

  10% {
    transform: skewX(10deg);
  }

  20% {
    transform: skewX(15deg);
  }

  30% {
    transform: skewX(20deg);
  }

  40% {
    transform: skewX(15deg);
  }

  55% {
    transform: translate(1px, -1px) skewX(10deg);
  }

  70% {
    transform: translate(-1px, 2px) skewX(5deg);
  }

  75% {
    transform: translate(1px, 2px) skewX(0deg);
  }

  80% {
    transform: translate(1px, 2px) skewX(-5deg);
  }

  85% {
    transform: translate(1px, 2px) skewX(-10deg);
  }

  93% {
    transform: translate(1px, 2px) skewX(-5deg);
  }

  100% {
    transform: translate(1px, -2px) skewX(0deg);
  }
}

/**************
 * FIREWORKS
***********/
.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff003d, -109px -287.66667px #ffb300, -50px -313.66667px #2f006e, 226px -31.66667px #ff4000, 180px -351.66667px #ffFFd0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #66ffd0, -50px -37.66667px #00ffFF, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px orange, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ff0000, -163px -233.66667px #0000ff, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px white, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #0055ff, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
  }
}

@-moz-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
  }
}

@-o-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
  }
}

@-ms-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
  }
}

@keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(400px);
    -moz-transform: translateY(400px);
    -webkit-transform: translateY(400px);
    -o-transform: translateY(400px);
    -ms-transform: translateY(400px);
    opacity: 0;
  }
}

@-moz-keyframes gravity {
  to {
    transform: translateY(400px);
    -moz-transform: translateY(400px);
    -webkit-transform: translateY(400px);
    -o-transform: translateY(400px);
    -ms-transform: translateY(400px);
    opacity: 0;
  }
}

@-o-keyframes gravity {
  to {
    transform: translateY(400px);
    -moz-transform: translateY(400px);
    -webkit-transform: translateY(400px);
    -o-transform: translateY(400px);
    -ms-transform: translateY(400px);
    opacity: 0;
  }
}

@-ms-keyframes gravity {
  to {
    transform: translateY(400px);
    -moz-transform: translateY(400px);
    -webkit-transform: translateY(400px);
    -o-transform: translateY(400px);
    -ms-transform: translateY(400px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(400px);
    -moz-transform: translateY(400px);
    -webkit-transform: translateY(400px);
    -o-transform: translateY(400px);
    -ms-transform: translateY(400px);
    opacity: 0;
  }
}

@-webkit-keyframes position {

  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@-moz-keyframes position {

  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@-o-keyframes position {

  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@-ms-keyframes position {

  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes position {

  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

.paused {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

/* fireworks text */
#text {
  color: white;
  font-size: 25px;
  font-family: 'Notable', sans-serif;
  position: absolute;
  top: 30%;
  left: 30%;
  animation: bounceIn 10s;
}

#credits {
  color: white;
  font-size: 12px;
  font-family: 'PT Mono', monospace;
  position: absolute;
  bottom: 10%;
  left: 30%;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }

  90% {
    transform: scale(2.2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}
