body {
    font-family: verdana;
    font-size: 20px;
    background-image: linear-gradient(to bottom, #007712, #2AcF15 );
    color: white;
    min-height: 100vh;
    margin:0px;
    padding:5px;
}

/* shake card on hover */
/*
img:hover {
    animation: shake 0.5s;
    animation-iteration-count: 1;
}
*/

/* last card (or 1 card) slides in */
.last {
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
}
/**/
@keyframes slideInFromLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

td {
    vertical-align: center;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.card {
    width: 60px;
    border: 4px solid transparent;
    border-radius: 6px;
}

.down-card {
    border: 4px solid blue;
}

button {
    border: none;
    color: white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}

button {
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

button:hover {
    background-color: #008CBA;
    color: white;
}

.player_btn{
    font-size: 20px;
}

#common_btn {
    border: solid 2px red;
    border-radius: 0px;
    margin-left: 20px;
}

.next {
    border: solid 2px orange;
}

.restart_btn {
    border: solid 2px blue;
    border-radius: 0px;
}

/* fold button */
#fold {
    padding: 4px 7px;
    font-size: 10px;
}
.dlrbtns {
    padding: 4px 7px;
    font-size: 10px;
   background-color:deepskyblue;
}

/* number of cards remaining display */
#numcards {
    font-size: 14px;
    font-style: bold;
}

#connection-banner {
    width: 100%;
    background-color: red;
    text-align: center;
    margin-bottom: 10px;
}

#player-controls button {
    font-size: 20px;
}

.one-card-buttons{
  border: solid 2px orange;
}
.one-all-buttons{
  border: solid 2px red;
}
#player-chips{
  float:left;
}
#first-of-group{
  margin-left: 15px;
}
#new-game-button{
  margin-left: 15px;
  margin-right:15px;
}
#dealer-controls-bottom{
  margin-top: 8px;
}
#dealer-controls{
  margin-top: 8px;
  margin-bottom:8px;
}
#draw-btn{
  border-radius:1px;
  margin-left: 15px;
}
#bet-input{
  width:60px;
  height:30px;
}
input
{
    font-size:22px;
}
#change-active-player-select{
  width:80px;
  height:30px;
  margin-right:10px;
}
#winners-select{
  width:80px;
  height:30px;
}
.opening-cards{
  border: solid 3px;
}
#logo{
  float:left;
}
#pot-display{
  color:black;
/*  lightgreen;*/
  font-size:28px;
  margin-left: 10px;
  margin-right:10px;
  background-color:red;
  padding:4px;
  border: solid 2px;
  border-color:yellow;
}
#last-bet{
  color:#ff7777;
}
#bet-button{
  margin-left:15px;
}
#logout-btn{
  margin-left:40px;

border-radius:0px;
}
#current-game{
  margin-left: 10px;
  font-style:italic;
  float:right;
}
.login-cards{
  margin-top:100px;
      width: 200px;
    border: 4px solid transparent;
    border-radius: 6px;
}


.player-seat {
  display: grid;
  grid-gap: 4px;
  grid-template-columns: 100px 75px 1fr;
  grid-template-rows: auto 1fr;

  font-family: 'PT Mono', monospace;

  padding: 4px;
  border: 4px solid transparent;
  border-radius: 4px;
}

.player-seat.active-player {
  border-color: yellow;
}

.player-seat.player-connected .kick-button {
  display: none;
}

.player-seat.dealer .player-name {
  color: orange;
  font-weight: bold;
}

.player-seat.player-disconnected .player-name {
  opacity: 0.4;
  font-style: italic;
}

.player-name {
  grid-column: 1;
  grid-row: 1;
}

.chips-shy {
  grid-column: 2;
  grid-row: 1;
}

.chips-display {
  grid-column: 1 / span 2;
  grid-row: 2;
  vertical-align: center;

  display: flex;
  align-items: center;
  flex-wrap: wrap;

  color: yellow;
}

.chips-display img {
  /* this calc should be updated if these values change */
  /* (first column width + second column width) / (starting chip amount / chips per chip image) */
  width: calc((100px + 75px) / (400 / 40));
}

.hand {
  grid-column: 3;
  grid-row: 1 / span 2;
}
