body {
    font-family: 'PT Mono', monospace;
    font-size: 20px;
    background-image: linear-gradient(to bottom, #007712, #2AcF15 );
    color: white;
    min-height: 100vh;
    margin:0px;
    padding:5px;
}
/* to separate groups of buttons from each other */
#first-of-group{
  margin-left: 15px;
}

/*  OBSOLETE?
.field {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 400px;
}
*/


/** BASIC BUTTON SETUP **/
button {
    border: none;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'PT Mono', monospace;
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}

button:hover {
    background-color: #008CBA;
    color: white;
}
/* player buttons are larger */
.player_btn{
    font-size: 20px;
}

#dealer-controls{
  margin-top: 8px;
  margin-bottom:0px;
}
#dealer-controls-bottom{
  margin-top: 6px;
}

/****************
* DEALER CONTROLS - 1ST ROW
*****************/
/* all dealer buttons are smaller */
.dlrbtns {
    padding: 4px 7px;
    font-size: 10px;
   background-color:deepskyblue;
}

/* 1up and 1down buttons */
.one-all-buttons{
  border: solid 2px red;
}
/* next up and next down buttons */
.one-card-buttons{
  border: solid 2px orange;
}

/* common up card button - is different color */
#common-button {
    border: solid 4px blue;
    margin-left: 20px;
}
/* draw-mode toggle button */
#draw-btn{
  border-radius:1px;
  margin-left: 45px;
  color:yellow;
  background-color: darkgreen;
  border-color:aqua;
}
/****************
* DEALER CONTROLS - 2ND ROW
*****************/
/* selector for active player */
#change-active-player-select{
  width:80px;
  height:30px;
  margin-right:10px;
}

#payout-button{
  background-color:red;
  margin-left:10px;
  color:yellow;
}
/* selector for players to receive payout */
#winners-select{
  width:80px;
  height:30px;
}

/* new game button */
#new-game-button{
  margin-left: 35px;
  margin-right:35px;
  color:white;
  background-color: blue;
}
/* selector for which game being played */
#set-game-select{
    width:120px;
  height:30px;
}
#game-name-display{
  margin-right: 10px;
  font-size:16x;
  font-style:italic;
  float:right;
  color:yellow;
}
/***********************
 * PLAYER CONTROLS 
 ***********************/

#player-controls button {
    font-size: 16px;
}
#player-money-display {
  float: left;
  color: yellow;
  margin-left: 5px;
}

/* fold button */
#fold {
    padding: 4px 7px;
    font-size: 10px;
}

/* ALL BETTING BUTTONS AND ENTRY */
#bet-button{
  margin-left:15px;
}
#bet-input{
  width:42px;
  height:23px;
  font-size:15px;
}
.bet-buttons{
  margin:0px;
  border-radius:0px;
  border:solid 1px black;
}
/* POT DISPLAY */
#pot-display{
  color:black;
/*  lightgreen;*/
  font-size:26px;
  margin-left: 10px;
  margin-right:10px;
  background-color:red;
  padding:4px;
  border: solid 2px;
  border-color:yellow;
}

#buy-10-btn{
  background-color:black;
  color:white;
  border-color:red;
  border-radius:4px;
}

#logout-btn{
  margin-left:10px;
  border-radius:0px;
  border-color:white;
  color:white;
  background-color:black;
}


#player-chips{
  float:left;
}



/* number of cards remaining display */
#numcards {
    font-size: 14px;
    font-style: bold;
}
/* banner displays when disconnected */
#connection-banner {
    width: 100%;
    background-color: red;
    text-align: center;
    margin-bottom: 10px;
}

input
{
    font-size:22px;
}
.opening-cards{
  border: solid 3px;
}
#logo{
  float:left;
}
#last-bet{
  color:#ff7777;
}

/*
#current-game{ 
  margin-left: 100px;
  font-style:italic;
  float:right;
}
*/
.login-cards{
  margin-top:100px;
      width: 200px;
    border: 4px solid transparent;
    border-radius: 6px;
}


/****************************
 * GRID FOR EACH PLAYER SEAT
**************************/
.player-seat {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 100px 85px 1fr;
  grid-template-rows: auto 1fr;

  font-family: 'PT Mono', monospace;

  padding: 2px;
  border: 2px solid transparent;
  border-radius: 4px;
}

.player-seat.active-player {
  border-color: yellow;
}

.player-seat.player-connected .kick-button {
  display: none;
}

.player-seat.dealer .player-name {
  color: orange;
  font-weight: bold;
}

.player-seat.player-disconnected .player-name {
  opacity: 0.4;
  font-style: italic;
}

.player-name {
  grid-column: 1;
  grid-row: 1;
}

.chips-shy {
  grid-column: 2;
  grid-row: 1;
  font-size:16px;
}

.chips-display {
  grid-column: 1 / span 2;
  grid-row: 2;
  vertical-align: center;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.chips-display img {
  /* this calc should be updated if these values change */
  /* CHANGE ABOVE ALSO
  /* (first column width + second column width) / (starting chip amount / chips per chip image) */
  width: calc((100px + 85px) / (400 / 40));
}

.hand {
  grid-column: 3;
  grid-row: 1 / span 2;
}
/* BASIC CARD IMAGE */
.card {
    width: 60px;
    border: 4px solid transparent;
    border-radius: 6px;
}

.down-card {
    border: 4px solid blue;
}

/* FOR MULTI-SELECT FOR WINNER NAMES DROP DOWN */
.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

/***** ANIMATIONS ******/
/* shake card on hover */
/*
img:hover {
    animation: shake 0.5s;
    animation-iteration-count: 1;
}
*/

/* last card (or 1 card) slides in */
.last {
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
}
/**/
@keyframes slideInFromLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}


@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
